* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(67, 61, 61);
}

header {
    display: flex;
    /* color: whitesmoke;*/
    /*background-color: red;*/
    justify-content: center;
    align-items: baseline;
    gap: 2vw;
    padding: 10px 0;
}

h1,
p {
    margin: 0;
    color: white;

}

.container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: green;*/

}

.counter {
    border: 1px solid rgb(255, 255, 255);
    padding: 8px;
    font-size: 16px;
}

#square {
    height: 40px;
    width: 40px;
    border: 1px solid red;
}

.square-place {
    width: 240px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 6px;
}