* {
    box-sizing: border-box;
}

body {
    margin: 0;
    background-color: rgb(67, 61, 61);
}

.container {
    width: 600px;
    margin-left: auto;
    margin-right: auto;
    /* background-color: green;*/
}

/* Header start*/

header {
    display: flex;
    /* color: whitesmoke;*/
    /*background-color: red;*/
    justify-content: center;
    align-items: baseline;
    gap: 2vw;
    padding: 10px 0;
}

h1,
p {
    margin: 0;
    color: white;
}

.counter {
    border: 1px solid rgb(255, 255, 255);
    padding: 8px;
    font-size: 16px;
}

/* Header end*/

/* Game place start*/

#square {
    height: 60px;
    width: 60px;
    background-color: rgb(243, 238, 238);
}

.game-place {
    border: 1px solid rgb(173, 173, 171);
    padding-top: 20px;
}

.square-place {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.btn {
    display: flex;
    justify-content: center;
    gap: 4vw;
    margin-top: 40px;
    margin-bottom: 20px;
}

.btn-start,
.btn-reset {
    border: none;
    font-size: 24px;
    font-weight: 500;
    padding: 10px 20px;
}

.btn-start {
    background-color: rgb(138, 227, 3);
    color: rgb(68, 67, 67);
}

.btn-reset {
    background-color: rgba(246, 5, 5, 0.564);
    color: whitesmoke;
}

/* Game place end*/